Package: com.ziofarout.openapp
Version: 1.0.0
Architecture: iphoneos-arm
Depends: mobilesubstrate
Author: Aldo D'Introno <aldodintrono93@gmail.com>
Section: System
Description: Launch apps from the command-line
Name: OpenApp
dev: ziofarout
Tag: purpose::console, role::hacker